$primary: #0f0f0f;
$danger: #ff0000;

.hover-red:hover {
  color: red !important;
}

.text-grey {
  color: #aaa !important;
}

.icon-color {
  filter: invert(60%) brightness(80%);
  transition: 0.2s ease;
}

.hover-red:hover * {
  color: red !important;
}

.hover-red:hover .icon-color {
  filter: invert(22%) sepia(96%) saturate(7483%) hue-rotate(3deg)
    brightness(96%) contrast(104%);
}

.custom-border {
  border-top: 1px solid #1a1a1a !important;
}

.custom-border-bottom {
  border-bottom: 1px solid #000000 !important;
}

@media (min-width: 1400px) {
  .container {
    max-width: 1500px !important;
  }
}

.section-title {
  position: relative;
  padding-left: 15px;
  font-size: 1.8rem;
}

.section-title::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 5px;
  height: 100%;
  background-color: red;
  border-radius: 2px;
}

.movie-thumb {
  width: 215px;
  height: 301px;
  object-fit: cover;
  border-radius: 10px;
}

.feature-movies {
  margin: 30px 50px;
}

.red-bar {
  width: 4px;
  height: 14px;
  background-color: red;
  display: inline-block;
  margin-right: 6px;
  border-radius: 2px;
}

.rounded-top-left {
  border-top-left-radius: 1rem;
}

@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/bootstrap";
