$primary: #0f0f0f;
$danger: #ff0000;

#searchInput::placeholder {
  color: #ccc !important;
}

#navbar {
  transition: opacity 0.3s ease;
}

.navbar .dropdown-menu {
  background-color: #000 !important;
}

.navbar .dropdown-item {
  color: #fff;
}

.navbar .dropdown-item:hover {
  background-color: $primary !important;
  color: #fff !important;
}

.hover-red:hover {
  color: red !important;
}

.text-grey {
  color: #aaa !important;
}

.icon-color {
  filter: invert(60%) brightness(80%);
  transition: 0.2s ease;
}

a {
  text-decoration: none !important;
}

.hover-red:hover * {
  color: red !important;
}

.hover-red:hover .icon-color {
  filter: invert(22%) sepia(96%) saturate(7483%) hue-rotate(3deg)
    brightness(96%) contrast(104%);
}

.custom-border {
  border-top: 1px solid #1a1a1a !important;
}

.custom-border-bottom {
  border-bottom: 1px solid #000000 !important;
}

@media (min-width: 1400px) {
  .container {
    max-width: 1500px !important;
  }
}

.section-title {
  position: relative;
  padding-left: 15px;
  font-size: 1.8rem;
}

.section-title::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 5px;
  height: 100%;
  background-color: red;
  border-radius: 2px;
}

.movie-link {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

.movie-card {
  cursor: pointer;
}

.movie-image-wrapper {
  position: relative;
  overflow: hidden;
  border-radius: 12px;
}

.movie-image-wrapper:hover .movie-thumb {
  transform: scale(1.15);
  filter: blur(3px) brightness(0.7);
}

.movie-logo {
  position: absolute;
  width: 140px;
  height: 50px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.6);
  opacity: 0;
  transition: 0.3s ease;
  pointer-events: none;
}

.movie-image-wrapper:hover .movie-logo {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

.movie-thumb {
  width: 215px;
  height: 301px;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.4s ease, filter 0.4s ease;
}

.feature-movies {
  margin: 10px 30px;
}

.red-bar {
  width: 4px;
  height: 14px;
  background-color: red;
  display: inline-block;
  margin-right: 6px;
  border-radius: 2px;
}

.rounded-top-left {
  border-top-left-radius: 1rem;
}

.text-center {
  text-align: center;
  margin-top: 40px;
}

.btn-next {
  display: inline-block;
  padding: 14px 32px;
  background: #4a90e2;
  color: white;
  border-radius: 10px;
  font-weight: bold;
  font-size: 20px;
  z-index: 9999;
  position: relative;
}

.btn-next:hover {
  background: #357abd !important;
  transform: scale(1.05) !important;
}

.pagination-container {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 20px 0;
  color: #aaa;
  font-size: 14px;
}

.page-info {
  color: #b3b3b3;
}

.pagination {
  display: flex;
  gap: 8px;
}

.pagination-padding {
  padding-left: 45px;
  padding-right: 45px;
  padding-top: 25px;
  padding-bottom: 10px;
}

.page {
  width: 38px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #dcdcdc;
  background: #111;
  border: 1px solid #1f1f1f;
  border-radius: 6px;
  cursor: pointer;
  user-select: none;
  transition: 0.2s ease;
}

.page:hover {
  background: #222;
}

.page.active {
  background: #000;
  border-color: #900; /* red glow like your image */
  color: #d40000;
  font-weight: bold;
}

.page.next {
  font-size: 18px;
  font-weight: bold;
}

@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/bootstrap";
